extends layout

block content
    .row
      include otherPlayer
      include table

    .row#playerInfo
        include player

block js
    script(src='/components/jquery/dist/jquery.min.js')
    script(src='js/socket.io-client/socket.io.js')
    script(src='js/game.js')


