extends layout

block content
    .row
        .col-lg-6.col-md-6.col-sm-6.col-xs-6
            label Adresse du serveur : 
            strong#ipServ #{ipServ}
         
    .row
      include otherPlayer
      include table

    .row#playerInfo
        include player

block js
    script(src='/components/jquery/dist/jquery.min.js')
    script(src='js/socket.io-client/socket.io.js')
    script(src='js/game.js')
