block otherPlayer
    .col-lg-4.col-md-4.col-sm-4.col-xs-4
        each value in otherUsers
            .row
                .col-lg-6.col-md-6.col-sm-6.col-xs-6
                  label(for='') #{value.name}
                  img(src='/img/carte/carte_dos.bmp', alt='' class='cardOtherPlayer')
                  img(src='/img/carte/carte_dos.bmp', alt='' class='cardOtherPlayer')

                .col-lg-6.col-md-6.col-sm-6.col-xs-6
                  label(for='') Pot : #{value.pot} 
                  <br>
                  label(for='') Mise : #{value.mise} 
