block player
    .col-lg-6.col-md-6.col-sm-6.col-xs-6
        label(for='') Nb de jetons restrant: 999
        <br>
        button(type='button', name='button') Fold
        button(type='button', name='button') Check
        button(type='button', name='button') Call
        button(type='button', name='button') Rise  5435
        
    .col-lg-6.col-md-6.col-sm-6.col-xs-6
        img(src='/img/carte/A_P.bmp', alt='' class="cardPlayer")
        img(src='/img/carte/A_Co.bmp', alt='' class="cardPlayer")

    
