block table

.col-lg-8.col-md-8.col-sm-8.col-xs-8
  .row
    label(for='') Temps prochaine Blind : 00:00
    <br>
    label(for='') Joueur xxx est en train de reflechir

  .row
    img(src='/img/carte/2_Ca.bmp', alt='' class="cardTable")
    img(src='/img/carte/2_Ca.bmp', alt='' class="cardTable")
    img(src='/img/carte/2_Ca.bmp', alt='' class="cardTable")
    img(src='/img/carte/2_Ca.bmp', alt='' class="cardTable")
    img(src='/img/carte/2_Ca.bmp', alt='' class="cardTable")

  .row
    label(for='') Pot Total :xxx
    <br>
    label(for='') Pot :xxx
